{{twbs-navbar class="navbar-default" organizationName="cybertoothca" packageName="ember-cli-date-textbox"}}

<h2 id="title">Welcome to Ember</h2>

<p style="line-height: 55px;"></p>

{{addon-badges organizationName="cybertoothca" packageName="ember-cli-date-textbox"}}

{{outlet}}